{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "curly": 0,
    "quotes": "single",
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "no-wrap-func": 0
  }
}
